@import url("https://fonts.googleapis.com/css?family=Tajawal");

html {
  background-color: #214e34;
  font-family: "Tajawal";
  margin: 1em auto;
  max-width: 850px;
}
header {
  padding: 1em 1em 1em 3em;
}
header,
footer {
  background-color: #331832;
  color: #cad2c5;
  border-radius: 20px;
}
footer {
  padding: 0.25em;
  text-align: center;
}
body {
  font-size: 18px;
  background-color: #f3c3f0;
  padding: 3em;
  color: black;
  border-radius: 20px;
}
hr {
  border: 1px solid black;
}
header img {
  float: right;
  width: 200px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
#lastupdate {
  color: white;
}

nav a:visited,
nav a:link {
  color: #2a1429;
}
nav a:hover {
  color: #f3c3f0;
  padding: 0.25em;
  background-color: #331832;
  border-radius: 15px;
}
footer a:link,
footer a:visited {
  color: #f3c3f0;
}
footer a:hover {
  color: white;
}
