@media only screen and (min-width: 1028px) {
  div.page {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
  }
  body {
    padding: 4%;
  }
  section {
    margin: 5%;
  }
  h1 {
    font-size: 50px;
  }
}
