@import url("https://fonts.googleapis.com/css?family=Tajawal");
#content{max-width: 960px; }
html {
    background-color: #B38D97;
    font-family: "Tajawal";
}
header {
  background-color: #331832;
  padding: 3em;
  color:#CAD2C5;
}
body{
    font-size: 1em;
}