@media only screen and (min-width: 40rem) {
  /*header*/
  header h1 {
    font-size: 39px;
  }


  /*nav rules */
  nav button {
    display: none;
  }
  nav ul.hide {
    display: inline;
  }
  nav ul.primaryNav {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  nav ul li {
    width: 25%;
  }
  nav ul li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a {
    border: none;
    border-bottom: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;
  }

/*summary*/
.summary p {
  font-size: 1.3rem;
}
p.summarytitle {
  font-size: 1.6rem;
}
.summary {
  width: 260px;
  height: 210px;
  padding: 15px;
  top: 100px;
  left: 50px;
}

  /*forecast*/
  .forecastTitle {
    border: none;
    background-color: #f7fff7;
    color: black;
    text-align: left;
    padding: .5rem 0rem .5rem .5rem;
    font-size: 1.5rem;
    display: block;
  }
  .forecast {
    border: none;
  }
  .show {
    display: inline;
  }
  .forecastDays {
    display: flex;
    justify-content: space-around;
  }
  .day1,
  .day2,
  .day3,
  .day4,
  .day5 {
    border: 1px solid black;
    text-align: center;
    width: 150px;
    box-shadow: 0 0 20px #156066;
  }
  .day1 img,
  .day2 img,
  .day3 img,
  .day4 img,
  .day5 img {
    width: 50px;
  }
  .forecastDays h4 {
    background-color: #283d4b;
    color: white;
    padding: 1rem;
    margin-top: 0;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .forecastDays span {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    margin-top: 0;
    display: block;
  }

  /*article*/
  article {
    margin-top: 1rem;
    display: block;
  }

  article p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .articleImage {
    width: 50%;
    float: right;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  /*contact information*/
  .contactBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .contact {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .map {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
  }
  .contact p {
    padding-left: 15px;
  }

/*gallery*/
.gallery {
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

}

