header,
footer {
  text-align: center;
  background-color: #233329;
  color: white;
  padding: 15px;
}
body {
font-family: "Architects Daughter", sans-serif;

}

h1 {
 letter-spacing: 2px;   
}

main {
    background-color: #ced0ce;
    
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

section {
  border: 3px solid #261c15;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 0 2rem;
  border-radius: 20px;
  background-color: #4a6fa5;
  color: white;
}

section:hover {
box-shadow: 0 0 30px #3f6c51;
}

h2 {
    text-align: center;
    letter-spacing: 2px;
}

img {
  width: 15rem;
  border-radius: 20px;
  border: 1px solid white;
}
