@media only screen and (min-width: 64rem) {
  /*header*/
  header h1 {
    font-size: 3rem;
  }
  header h3 {
    font-size: 1.6rem;
  }

  /*body*/
  nav ul,
  main,
  .head,
  .contactBottom,
  .bottom {
    max-width: 64rem;
    margin: auto;
  }
  main h2 {
    font-size: 3rem;
    margin: 0;
  }
 .forecastTitle {
   padding-left: 0;
 }
 article {
   padding-left: 0;
 }

  /*weather summary*/
  .summary {
    top: 115px;
  }
  .heroImage {
    width: 1024px;
  }

  /*nav*/
  nav ul.primaryNav li a {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
  }
  .map
    {
      max-width: 500px;
      padding-bottom: 0;
    }
}
