/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* root rules */
:root {
  --burgundy: #463239;
  --darkGreen: #35605a;
  --grey: #6b818c;
  --lilac: #d8e4ff;
  --cream: #f9f9f9;
}

/* whole page rules */
html {
  font-family: "kufam", sans-serif;
  font-size: 20px;
  background-color: var(--cream);
}
main {
  margin: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fauna One", sans-serif;
  letter-spacing: 0.5px;
}
header {
  background-color: var(--darkGreen);
  color: white;
}
footer,
nav {
  background-color: var(--grey);
}

/* header */
header h1 {
  padding: 10px 67px 10px 10px;
}
header h2 {
  padding: 0 67px 15px 10px;
}
header h1,
header h2 {
  margin: 0;
}
header .logo {
  float: left;
  margin: 10px;
  filter: invert(1);
}
.logo {
  border: 3px solid black;
  border-radius: 55px;
}

/* nav */
nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px 0px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
nav button {
  padding-top: 8px;
  font-size: 2rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border-radius: 10px;
  background-color: var(--lilac);
}

nav a:hover {
  background-color: var(--lilac);
}
nav a.active {
  background-color: var(--burgundy);
  color: white;
}
nav ul.hide {
  display: none;
}

/* footer */
footer {
  padding-top: 10px;
  text-align: center;
}
footer .logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.social img {
  width: 50px;
  transition: 0.5s;
}
.facebook:hover,
.twitter:hover,
.instagram:hover {
  filter: invert(1);
  background-color: white;
  padding: 3px;
  border-radius: 10px;
}
.social {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}
.contact,
.link {
  padding-top: 5px;
}
.link ul {
  padding: 0;
  list-style-type: none;
}
.link ul li a {
  color: black;
  display: block;
  margin-bottom: 2px;
}
.link ul li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.contact h3 {
  margin-bottom: 0;
}
.contact p {
  margin-top: 2px;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 20px;
}
p {
  margin: 0;
  padding: 5px;
}

/* main home */
.events {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}
.events img {
  border-radius: 0 0 20px 20px;
}
.ad1,
.ad2,
.ad3 {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}
.advertisement img {
  border-radius: 0 0 20px 20px;
}

/* main weather*/
.alert {
  padding: 10px;
  background-color: var(--burgundy);
  color: white;
}
.alert button {
  padding-top: 5px;
}
.alert p {
  margin-bottom: 0;
}
.hidealert {
  display: none;
}
.currentweather {
  border: solid 1px black;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
}
.currentweather h2,
.forecast h3 {
  background-color: var(--grey);
  margin: 0;
  padding: 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  border-radius: 20px 20px 0 0;
}
.forecast h3 {
  background-color: var(--darkGreen);
  color: white;
}
.currentweather img,
.forecast img {
  margin: 0 auto 0 auto;
  width: 100px;
}
.forecast div {
  border: solid 1px black;
  width: 300px;
  text-align: center;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--grey);

}
.forecast img {
  border-radius: 50px;
  background-color: white;
}

/* city page */
.cityevents {
  border: 1px solid black;
  border-radius: 20px;
}
.cityevents p,
.cityevents h3 {
  padding: 0 10px 10px 10px;
}
.cityevents img {
  border-radius: 0 0 20px 20px;
}

/*join page*/
.join form label {
  display: block;
  padding-bottom: 10px;
}
.join form fieldset {
  border-radius: 20px;
  background-color: var(--darkGreen);
  color: white;
  margin: 20px auto 0 auto;
}
.join legend {
  background-color: var(--burgundy);
  color: white;
  padding: 15px 15px 10px 15px;
  border-radius: 20px;
}
.join form fieldset fieldset:nth-child(3) {
  margin-bottom: 20px;
  background-color: var(--grey);
  color: black;
}
.join form input,
.join form textarea {
  display: block;
  width: 75%;
  border-radius: 20px;
  padding: 10px;
}
.join textarea {
  height: 100px;
}
.join form label.radio input {
  display: inline;
  width: 50px;
}
.join .submitButton {
  background-color: var(--burgundy);
  color: white;
  margin-top: 20px;
  font-size: 1.5rem;
}

/*directory grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
}
.grid div {
  border: 1px solid black;
  padding: 5px;
  background-color: var(--grey);
  border-radius: 20px;
  box-shadow: 0 0 5px var(--grey);
}
.grid a,
.list a {
  display: block;
  padding: 5px;
  color: black;
}
.joinBtn {
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ca9fa5;
  filter: invert(1);
  border: 5px solid white;
}
.joinBtn:hover {
  background-color: var(--grey);
  transition: 1s;
  filter: invert(0);
}
.joinBtn.activebutton {
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: #b9cdc6;
  filter: invert(1);
  border: 5px solid white;
}
.buttons {
  margin-left: 15%;
}
.grid img {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
}
.list img {
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  width: 500px;
  grid-area: 1/1/2/2;
}
.list div {
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}




/* attribution page */
.attribution h1,
.attribution main,
.attribution footer,
.attribution h2,
.attribution h3,
.attribution p {
  color: black;
  background-color: var(--cream);
  text-align: left;
  padding: 0;
}
.attribution h1,
.attribution h2,
.attribution footer {
  padding: 10px;
}
.attribution main h3 {
  padding: 0 0 0 30px;
}
.attribution main a {
  padding: 0 0 0 50px;
}

/*contact page*/
.ccontact,
.contact-top iframe {
  padding-bottom: 20px;
}
iframe {
  max-width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}
.director img {
  margin: 20px auto 10px auto;
  border: solid 5px black;
  border-radius: 15px;
}
.director {
  text-align: center;
}
.director p {
  margin: 2px 0 0 0;
}
.director h3 {
  margin: 0 0 15px 0;
}
.contact-top fieldset {
  border-radius: 20px;
  background-color: var(--darkGreen);
  color: white;
  margin: 20px auto 0 auto;
  }
.contact-top legend {
  background-color: var(--burgundy);
  color: white;
  padding: 15px 15px 10px 15px;
  border-radius: 20px;
}
.contact-top .submitButton {
  background-color: var(--burgundy);
  color: white;
  margin-top: 20px;
  font-size: 1.5rem;
}
.contact-top .submitButton:hover {
  background-color: var(--grey);
  color: black;
}
.contact-top form label {
  display: block;
  padding-bottom: 20px;
}
.contact-top form input,
.contact-top form textarea {
  display: block;
  width: 75%;
  border-radius: 20px;
  padding: 10px;
}
.contact-top form label textarea {
  height: 100px;
}
.form h3 {
  text-align: center;
  margin: 5px 0 25px 0;
}
.emailHide .submitButton {
  margin-bottom: 25px;
}
h3.emailHide {
  display: none;
}
